body {
  font-family: 'Righteous', cursive;
}

:root{
  --main-black: #0d0d0f;
  --main-grey: #1c1d1f;
  --main-pink: #f20e89;
  --main-purple: #e473ff;
}

.navbar{
  z-index: 999;
}

.navbar-bg-dark{
  background-color: var(--main-black);
}

.navbar-brand{
  color: var(--main-pink);
  transition: all 0.5s;
}

.navbar-brand:hover {
  color: var(--main-pink);
  font-size: 1.5rem;
}

.nav-link{
  color: white;
  transition: all 0.5s;
}

.nav-link:hover{
  color: white;
  font-size: 1.2rem;
}

.nav-link:active, .nav-link:focus{
  color: white;
  font-size: 1.2rem;
}

.userInfo{
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-toggler{
  background-color: white;
}

.content {
  background-color: var(--main-grey);
  color:white;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-text-container{
  padding: 0 10%;
}

.content-title{
  font-size: 3.2rem;
}

.content-register-button{
  background-color: var(--main-pink);
  color: white;
  margin-top: 20px ;
  padding: 10px 20px;
  border-radius: 5px;
  border-radius: 15px;
  transition: all 0.5s;
}

.content-register-button:hover{
  color: white;
  font-size: 1.1rem;
  padding: 15px 25px;
}

.cards-row{
  background-color: var(--main-black);
  color: white;
}

.cards-row-title{
  padding: 2rem 0 0 2rem ;
}

.cards-row-content {
  padding: 20px;
  display: flex;
  overflow-x: scroll;
}
.cards-row-content::-webkit-scrollbar {
  display: none;
}

.cards-row-item{
  margin: 0 10px;
  border-radius: 30px;
  transition: all 0.5s;
  user-select: none;
}

.cards-row-item:hover{
  margin: 0 15px;
  cursor: pointer;
  transform: scale(1.1);
}

.card-image {
  width: 300px;
  height: 400px;
  overflow: hidden;
}

.card-image img {
  max-height: 100%;
  filter: grayscale(0.8);
  transition: all 0.5s;
}
.card-image img:hover {
  filter:none;
}

.header-img{
  min-width: 50%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
  transition: transform 0.2s ease-in-out;
  animation: image-hover 3s infinite ease-in-out;
}


/* Estilos para el fondo del modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.modal-text{
  width: 80%;
  background-color: var(--main-grey);
  box-shadow: 40px 40px 20px rgba(0, 0, 0, 0.2) ;
  padding: 5%;
}

.modal-image-wrapper {
  width: 100%;
}

.modal-image {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  height: 100%;
}

.modal-close {
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  color: var(--main-black);
  position: absolute;
  top: 0;
  right: 0;
}

.modal-platforms{
  margin-top: 20%;
}

.modal-platforms-icons{
  width: 100%;
}

.platform-icon{
  font-size: 2rem;
  margin: 0 2%;
}

.spotify-icon{
  color: #1DB954;
}

.youtube-icon{
  color: #FF0000;
}

.pageContainer{
  display: flex;
  flex-direction: row;
}

.pageHeader{
  width: 96.7%;
  margin-left: 50px;
}

.sideBar{
  background-color: var(--main-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  padding: 0 1%;
  height: 100vh;
}

.sidebar-icon{
  color: white ;
  margin-top: 40px;
  transition: all 0.5s;
}

.sidebar-icon-active{
  color: var(--main-pink)!important;
  transform: scale(1.4)!important;
}

.sidebar-icon:hover{
  cursor: pointer;
  transform: scale(1.2);
  color: var(--main-pink);
}